:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    background: #4d2266;
    color: #FFFFFF;
}

/************************** GLOBAL STYLES **************************/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a{
    text-decoration: none;

}
ul li{
    list-style: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
h5 {
    font-size: 1.8rem;
}
img {
    max-width: 100%;
}

/************************** NAVBAR STYLE **************************/
.name{
    color: #FFD700;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px rgba(1, 1, 1, 11);
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;

    background-color: #2C0735;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav #Navbar-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #Navbar-container a {
    color: var(--blanco);
    text-transform: uppercase;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav #Navbar-container a:hover {
    color: #FFD700;
}

section{
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

/************************** LOGO STYLE **************************/

.logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #fff;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

.cv-button {
    display: inline-block;
    min-width: 25%;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6b368a; 
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid #ffffff; 
    border-radius: 25px; 
    transition: all 0.3s ease;
}

.cv-button:hover {
    background-color: #4d2266; 
    border-color: #6b368a; 
    color: #ffffff;
    transform: scale(1.05); 
}

/************************** PREVIEW **************************/

.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

/************************** ABOUT ME SECTION **************************/


.aboutMe-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    padding: 4rem 2rem;
    max-width: 1000px;
    margin: auto;

}

.aboutme-info{
    background: linear-gradient(135deg, #3c1652, #5a1f75); 
    padding: 2rem;
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    line-height: 1.6;
}

.aboutme-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #fff;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}

@media (max-width: 768px){
    .aboutMe-container{
        flex-direction: column;
        text-align: center;
    }
    .aboutme-img{
        width: 150px;
        height: 150px;
        margin-bottom: 1rem;
    }
    .aboutme-info{
        width: 90%;
        padding: 1.5rem;
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-active {
    animation: fadeIn 0.8s ease-in-out;
}

.highlight{
    color: #ffcc00;
    font-weight: bold;
}

/************************** SKILLS SECTION STYLE **************************/
.s-container{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    color: white
}

.skills-specifications{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    flex-wrap: wrap;
}

.skills-specifications ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 100%;
    max-width: 90%;
    flex-wrap: wrap;
} 

.skills-specifications li{
    flex: 1;
    max-width: 12rem;
    text-align: center;
} 

.skills-specifications button{
    color: #ccc;
    background-color: #410e4e5d;
    padding: 10px 5px;
    display: block;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid white;
}

.skills-specifications button:hover{
    color: #FFD700;
    background-color: #410e4e;
    transform: scale(1.07);
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    margin-top: 2rem; 
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill{
    padding: 1.5rem;
    background-color:rgba(255, 255, 255, 0.1);
    /*background-color: rgba(83, 19, 92, 0.1);*/
    border-radius: 0.5rem;
    font-size: 1.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 150px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.skill img{
    width: 120px;
    height: 70px;
    object-fit: contain;
    margin-top: 0.5rem;
}

.skill:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}


@media (max-width: 768px) {
    .skills-container {
        gap: 1.5rem;
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 480px) {
    .skills-container {
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr); 
    }
}

/************************** CONTAC SECTION STYLE **************************/

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

h2 {
    margin-bottom: 20px; 
}

form {
    width: 100%;
    max-width: 70%;
    padding: 20px;
    background: #3F0D56;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.3rem;
}

form button {
    background: var(--blanco);
    color: var(--negro);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.4rem;
    border-radius: 5px;
    transition: background 0.3s ease;
}

form button:hover {
    background-color: #7819af; 
    color: #FFD700;
    transform: scale(1.05); 
}



@media (max-width: 768px) {
    nav ul {
        display: flex;
        gap: 1rem;
        align-items: center;
        text-align: center;
    }

    nav ul li a {
        font-size: 1.6rem;
    }

    .projects .project-card {
        max-width: 100%;
    }
    .about-me, .projects {
        flex-direction: column;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .project-card {
        width: 100%;
        text-align: center;
    }


    #Contact input, #Contact textarea {
        width: 100%;
        font-size: 1.4rem;
    }

    #contactForm{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        max-width: 100%;
        min-height: 100%;
    }

    footer {
        padding: 10px; 
    }

    .footer-container {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-section {
        width: 100%; 
        margin: 5px 0; 
    }

    .footer-bottom {
        font-size: 0.8rem; 
    }
}


@media (max-width: 480px) {
    html {
        font-size: 55%;
    }
    .project-card {
        width: 100%;
        text-align: center;
        max-width: 250px;
    }

    .about-me h2 {
        font-size: 2.4rem;
    }
}


/** PROJECTS SECTION STYLE **/
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 2rem;
}   

.project-card {
    background-color: #3F0D56;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fffefe;
}

.project-card p {
    font-size: 1rem;
    color: #fffefe;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


/** FOOTER SECTION STYLE **/

footer {
    background-color: #333;
    color: var(--blanco);
    padding: 10px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 150px;
    text-align: center;
}

.footer-section h3 {

    font-size: 1.2rem;
    color: #ddd;
}

.footer-section p {
    font-size: 1rem;
    color: var(--blanco);
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s;
    font-size: 1.3rem;
}

.footer-section ul li a:hover {
    color: #007bff;
}

.social-links {
    display: flex;
    justify-content: center; 
    gap: 10px;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-links li {
    list-style-type: none;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #aaa;
}

.footer-bottom p {
    margin: 0;
}

/** ICON SECTION STYLE **/

.warning-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 20px;
}

.warning-icon i {
    font-size: 2rem;
    color: #f39c12;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -100px; 
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.3rem;
}

.warning-icon:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

